{% extends "base2.html" %}

{% block main_content %}

    <section class="container-fluid" data-section="home">

      <!-- Personal Flexy Section -->
      <div class="row flex-row">

         <!-- Personal Details 02 -->
         <div id="personal-2" class="col-md-4 flex-column ui-block-color01 light nopadding"
              data-animation-origin="right"
              data-animation-duration="300"
              data-animation-delay="600"
              data-animation-distance="200px">
            <div class="row flex-panel nopadding">
               <div class="col-md-12 nopadding">
                  <div class="row flex-row nopadding">
                     <a href="http://lab.kosovoinnovations.org/syria/public/" class="col-md-6 flex-column bg-color02 p-grid-item nopadding hvr-bounce-to-top hvr-green">
                        <div class="flex-panel padding-44">
                           <div class="p-icon green"></div>
                           <span class="uppercase">Syria Volunteers Platform</span>
                           <p class=""></p>
                        </div>
                     </a>
                     <a href="http://palestinevolunteers.org/" class="col-md-6 flex-column bg-color03 p-grid-item nopadding hvr-bounce-to-top hvr-blue">
                        <div class="flex-panel padding-44">
                           <div class="p-icon blue"></div>
                           <span class="uppercase">Palestine Volunteers Platform</span>
                           <p class=""></p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-md-12 nopadding">
                  <div class="row flex-row nopadding">
                     <a href="" class="col-md-6 flex-column bg-color03 p-grid-item nopadding hvr-bounce-to-top hvr-red">
                        <div class="flex-panel padding-44">
                           <div class="p-icon red"></div>
                           <span class="uppercase">Jordan Volunteers Platform</span>
                           <p class="">Coming soon</p>
                        </div>
                     </a>
                     <a href="" class="col-md-6 flex-column bg-color02 p-grid-item nopadding hvr-bounce-to-top hvr-yellow">
                        <div class="flex-panel padding-44">
                           <div class="p-icon yellow"></div>
                           <span class="uppercase">Labs</span>
                           <p class="">Innovation Lab Network</p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-md-12 nopadding">
                  <div class="row flex-row nopadding">
                     <a href="" class="col-md-6 flex-column bg-color02 p-grid-item nopadding hvr-bounce-to-top hvr-green">
                        <div class="flex-panel padding-44">
                           <div class="p-icon blue"></div>
                           <span class="uppercase">Community</span>
                           <p class="">Youth Community Engagement</p>
                        </div>
                     </a>
                     <a href="" class="col-md-6 flex-column bg-color03 p-grid-item nopadding hvr-bounce-to-top hvr-orange">
                        <div class="flex-panel padding-44">
                           <div class="p-icon orange"></div>
                           <span class="uppercase">Industry</span>
                           <p class="">Jobs Board</p>
                        </div>
                     </a>
                  </div>
               </div>

            </div>
         </div>
         <!-- /Personal Details 02 -->

         <!-- Personal Details 01 -->
         <div id="details" class="col-md-8 flex-column bg-color01 light nopadding"
              data-animation-origin="left"
              data-animation-duration="300"
              data-animation-delay="400"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <div class="row row-no-padding">
                  <div class="col-md-12 nopadding">
                     <h3 class="font-accident-two-normal">Welcome to the Engagement Monitoring Platform!</h3>
                     <div class="quote">
                        <!--<h5 class="font-accident-two-medium uppercase subtitle">Choose your path in 3 easy steps</h5>-->
                        <div class="dividewhite3"></div>
                     </div>
                  </div>
               </div>
               <div class="divider-dynamic"></div>

          <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
          <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
          <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

              <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
              <!--<div class="container bootstrap snippet">-->
                <!--<div class="row">-->
                  <!--<div class="col-lg-2 col-sm-6">-->
                    <!--<div class="circle-tile ">-->
                      <!--<a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>-->
                      <!--<div class="circle-tile-content dark-blue">-->
                        <!--<div class="circle-tile-description text-faded"> Users</div>-->
                        <!--<div class="circle-tile-number text-faded ">265</div>-->
                        <!--<a class="circle-tile-footer" href="#">More Info<i class="fa fa-chevron-circle-right"></i></a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-lg-2 col-sm-6">-->
                    <!--<div class="circle-tile ">-->
                      <!--<a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>-->
                      <!--<div class="circle-tile-content red">-->
                        <!--<div class="circle-tile-description text-faded"> Users Online </div>-->
                        <!--<div class="circle-tile-number text-faded ">10</div>-->
                        <!--<a class="circle-tile-footer" href="#">More Info<i class="fa fa-chevron-circle-right"></i></a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

               <!--<div class="row nopadding">-->
                  <!--<div class="col-md-4 infoblock nopadding">-->
                     <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-arrows-1 color-blue"></i><div class="dividewhite1"></div></div>-->
                        <!--<div class="col-xs-12 col-sm-11 col-md-9">-->
                           <!--<h5 class="font-accident-two-bold uppercase">Select Path</h5>-->
                           <!--<p class="small">-->
                              <!--Select your tutoring path from those availible on the platform.-->
                           <!--</p>-->
                        <!--</div>-->
                     <!--</div>-->
                     <!--<div class="divider-dynamic"></div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4 infoblock nopadding">-->
                     <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-book-bag2 color-blue"></i><div class="dividewhite1"></div></div>-->
                        <!--<div class="col-xs-12 col-sm-11 col-md-9">-->
                           <!--<h5 class="font-accident-two-bold uppercase">Select Course</h5>-->
                           <!--<p class="small">-->
                              <!--Choose your course or activity available in your chosen path.-->
                           <!--</p>-->
                        <!--</div>-->
                     <!--</div>-->
                     <!--<div class="divider-dynamic"></div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4 infoblock nopadding">-->
                     <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-circle-1 color-blue"></i><div class="dividewhite1"></div></div>-->
                        <!--<div class="col-xs-12 col-sm-11 col-md-9">-->
                           <!--<h5 class="font-accident-two-bold uppercase">Apply</h5>-->
                           <!--<p class="small">-->
                              <!--Apply the course of activity to start tracking your journey!-->
                           <!--</p>-->
                        <!--</div>-->
                     <!--</div>-->
                     <!--<div class="divider-dynamic"></div>-->
                  <!--</div>-->

               <!--</div>-->
            </div>
         </div>
         <!-- /Personal Details 01 -->

      </div>
      <!-- /Personal Flexy Section -->

   </section>

   <section id="professional" class="container-fluid" data-section="home">

      <div class="row flex-row">

         <div id="pro-experience" class="col-md-4 flex-column dark nopadding ui-block-color02 flex-col"
              data-animation-origin="bottom"
              data-animation-duration="300"
              data-animation-delay="800"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase">
                 Coming soon
               </h3>
               <div class="dividewhite4"></div>
               <div class="experience">
                  <!--<ul class="">-->
                     <!--<li class="date">02/2008 - 04/2010</li>-->
                     <!--<li class="company uppercase">-->
                        <!--<a>-->
                           <!--Basic L&N.-->
                        <!--</a>-->
                     <!--</li>-->
                      <!--<li class="position">Partner Name</li>-->
                  <!--</ul>-->
                  <!--<ul class="">-->
                     <!--<li class="date">04/2010 - 06/2012</li>-->
                     <!--<li class="company uppercase">-->
                        <!--<a>-->
                           <!--Advanced L&N-->
                        <!--</a>-->
                     <!--</li>-->
                      <!--<li class="position">Partner Name</li>-->
                  <!--</ul>-->
                  <!--<ul class="">-->
                     <!--<li class="date">06/2012 - 01/2013</li>-->
                     <!--<li class="company uppercase">-->
                        <!--<a>-->
                           <!--Coding Skills Training.-->
                        <!--</a>-->
                     <!--</li>-->
                     <!--<li class="position">Partner Name</li>-->
                  <!--</ul>-->
               </div>
               <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">See More</a>-->
               <div class="dividewhite1"></div>
            </div>
         </div>
         <div id="bar-skills" class="col-md-8 flex-column dark nopadding ui-block-color03 flex-col" data-section="bar-skills"
              data-animation-origin="right"
              data-animation-duration="400"
              data-animation-delay="1100"
              data-animation-distance="200px">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase">Coming soon</h3>
               <div class="dividewhite2"></div>
               <div class="row">
                  <!--<div class="col-md-12">-->

                     <!--<h5 class="font-accident-two-medium uppercase letter-spacing-03">Literacy</h5>-->
                     <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100">-->
                           <!--84%-->
                        <!--</div>-->
                     <!--</div>-->

                     <!--<h5 class="font-accident-two-medium uppercase letter-spacing-03">Numeracy</h5>-->
                     <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">-->
                           <!--60%-->
                        <!--</div>-->
                     <!--</div>-->

                     <!--<h5 class="font-accident-two-medium uppercase letter-spacing-03">Social Media</h5>-->
                     <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">-->
                           <!--45%-->
                        <!--</div>-->
                     <!--</div>-->

                     <!--<h5 class="font-accident-two-medium uppercase letter-spacing-03">Coding</h5>-->
                     <!--<div class="progress">-->
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">-->
                           <!--32%-->
                        <!--</div>-->
                     <!--</div>-->

                  <!--</div>-->
               </div>
            </div>
         </div>

      </div>

   </section>

{% endblock %}
