{% extends "base.html" %}

{% block main_content %}

   <div id="portfolio" class="inner-content">

      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">[Partner Name]</h2>
            <h5 class="font-accident-one-bold uppercase subtitle">Overview</h5>
            <p class="small fontcolor-medium">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales nulla.
            </p>
         </div>
      </section>

      <!-- Counts Block -->
      <section id="counts-light-bg" class="counts inner-section bg-color02 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
         <div class="container-fluid nopadding">
            <div class="count-container row">
               <div class="col-lg-3 col-sm-6 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-graduation61"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">120</span>

                     <div class="count-text font-accident-one-bold">Students</div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-pens15"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">90</span>

                     <div class="count-text font-accident-one-bold">Courses</div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-stats48"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">45</span>

                     <div class="count-text font-accident-one-bold">Referrals</div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 count">
                  <div>
                     <div class="count-icon">
                        <i class="flaticon-clock"></i>
                     </div>
                     <span class=".integers digit font-accident-two-normal">165</span>

                     <div class="count-text font-accident-one-bold">Hours</div>
                  </div>
               </div>
            </div>
            <div class="dividewhite2"></div>
         </div>
      </section>
      <!-- /Counts Block -->


   </div>

{% endblock %}
