{% extends "courses/base.html" %}

{% block head_title %}Community{% endblock %}

{% block track_title %}Youth Community Engagement{% endblock %}

{% block courses %}

        <section class="inner-section light bg-color01">
            <div class="row">
                <a href="{% url 'initiatives:youth-led' %}">
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="500"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Youth-Led Initiatives</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
            </a>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="700"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Student/Youth Councils</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="900"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Sports Club / Scouts / Summer Camps</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
         </div>
        </section>

{% endblock %}

