{% extends "courses/base.html" %}

{% block head_title %}BLN{% endblock %}

{% block track_title %}Youth Basic Literacy and Numeracy{% endblock %}

{% block courses %}

        <section class="inner-section light bg-color01">
            <div class="row">
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="500"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Basic L&N</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="700"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Advanced L&N</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="900"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Functional L&N</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="1100"
                 data-animation-distance="50px">
               <div class="row">
                  <div class="col-md-12">
                     <div class="dividewhite1"></div>
                     <h5 class="font-accident-two-bold uppercase">Agricultural L&N</h5>
                     <p class="small">
                        Course explanation
                     </p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
            </div>
         </div>
        </section>

{% endblock %}

