{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content-full-page %}

    <style>
    .table-container th {
        text-align: start;
    }
    </style>

    <ol class="breadcrumb"  >
        <li class="breadcrumb-item active" {% if LANGUAGE_CODE == 'ar-ar' %}style=" float: right; "{% endif %}>
            {{ request.user.partner }}
        </li>
        <li class="breadcrumb-item active" {% if LANGUAGE_CODE == 'ar-ar' %}style=" float: right; "{% endif %}>
            {{ request.user }}
        </li>


    </ol>

    <ol class="breadcrumb" >
        <li class="breadcrumb-item active" {% if LANGUAGE_CODE == 'ar-ar' %}style=" float: right; "{% endif %}>
            <a href="{% url "youth:add" %}" class="btn btn-success">
                <i class="icon-plus-sign icon-white"></i>
                {% trans "Add new beneficiary" %}
            </a>
        </li>

        {% comment %}<li class="breadcrumb-item active">
            <a href="{% url "youth:add" %}" class="btn btn-success">
                <i class="icon-plus-sign icon-white"></i>
                {% trans "Export data" %}
            </a>
        </li>{% endcomment %}
    </ol>

    <div class="col-sm-10 pb-5">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button _('Filter') %}
        </form>
    </div>
    <div class="col-sm-10">
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>

{% endblock %}

{% block extra_js %}
    {% comment %}<script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>{% endcomment %}
{% endblock %}
