{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content-full-page %}
<section>

    <section id="page-title" class="inline-form inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h3 class="font-accident-two-light color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">{% trans "Youth Registration" %}</h3>

        </div>
    </section>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="badge badge-primary">{{ table.rows|length }}</span></li>
      <li class="breadcrumb-item active">{{ request.user.partner }}</li>
      <li class="breadcrumb-item active">{{ request.user }}</li>


          {% if request.user.is_beneficiary %}

            <li class="breadcrumb-item active">
              <a href="{% url 'registrations:add' %}" class="btn btn-success">
                  <i class="icon-plus-sign icon-white"></i>
                  {% trans "Add new beneficiary" %}
              </a>
            </li>

          {% else %}

               <li class="breadcrumb-item active">
              <a href="{% url 'registrations:add' %}" class="btn btn-success">
                  <i class="icon-plus-sign icon-white"></i>
                  {% trans "Add new beneficiary" %}
              </a>
            </li>

             <!--<li class="breadcrumb-item active">-->
              <!--<a href="{% url 'initiatives:add-initiative' %}" class="btn btn-success">-->
                  <!--<i class="icon-plus-sign icon-white"></i>-->
                  <!--{% trans "Add Initiatives" %}-->
              <!--</a>-->
            <!--</li>-->

              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">{% trans "Export data" %}</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'registrations:export_registry_assessments' %}">{% trans "Export Registration" %}</a></li>
                    <li><a href="{% url 'registrations:export_civic_assessments' %}">{% trans "Export Civic Engagement assessments" %}</a></li>
                    <li><a href="{% url 'registrations:export_entrepreneurship_assessments' %}">{% trans "Export Entrepreneurship assessments" %}</a></li>

                    <li><a href="{% url 'registrations:export' %}">{% trans "Export Beneficiary list" %}</a></li>
                  </ul>
                </div>
              </li>
          {% endif %}
    </ol>

    <div class="pb-5 pr-5 list-filter">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button _('filter') button_class="btn-primary" %}
            {% bootstrap_button _('reset') button_type="link" button_class="btn-warning" href='/registrations/list/' %}
        </form>
    </div>
    <div class="">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
</section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script>
        var export_url = '/api/backend-exporter/';
        var user_token = '{{ user_token }}';
        var href_full_path = '{{ request.build_absolute_uri }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

        $(document).ready(function() {
            $('.export-link').click(function(){
                export_file($(this).attr('itemref'));
            });
        });

        function export_file(params)
        {

            $.ajax({
                type: "GET",
                url: export_url,
                data: params,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 200){
                      alert("Your export request has been sent, you will find in exported file in the Exported file page");
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

    </script>
{% endblock %}
