{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content-full-page %}

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="badge badge-primary">{{ table.rows|length }}</span></li>
      <li class="breadcrumb-item active">{{ request.user.partner }}</li>
      <li class="breadcrumb-item active">{{ request.user }}</li>
    </ol>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="{% url 'registrations:add' %}" class="btn btn-success">
                <i class="icon-plus-sign icon-white"></i>
                {% trans "Add new beneficiary" %}
            </a>
        </li>

        <li class="breadcrumb-item dropdown">
          <a class="btn btn-primary dropdown-toggle" id="navbarDropdownMenuLink" style="color: white"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Export data" %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item btn btn-primary export-2" href="{% url 'registrations:export_registry_assessments' %}">{% trans "Export registration" %}</a>
            <a class="dropdown-item btn btn-primary export-3" href="{% url 'registrations:export_civic_assessments' %}">{% trans "Export Civic Engagement assessments" %}</a>
            <a class="dropdown-item btn btn-primary export-4" href="{% url 'registrations:export_entrepreneurship_assessments' %}">{% trans "Export Entrepreneurship assessments" %}</a>
            <a class="dropdown-item btn btn-primary export-1" href="{% url 'registrations:export' %}">{% trans "Export beneficiary list" %}</a>
          </div>
        </li>

    </ol>

    <div class="pb-5 pr-5 list-filter">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button _('filter') button_class="btn-primary" %}
            {% bootstrap_button _('reset') button_type="link" button_class="btn-warning" href='/registrations/list/' %}
        </form>
    </div>
    <div class="col-sm-10">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/registrations.js' %}"></script>
    <script>
        var user_token = '{{ user_token }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
        var export_1 = '{% url "registrations:export" %}';
        var export_2 = '{% url "registrations:export_registry_assessments" %}';
        var export_3 = '{% url "registrations:export_civic_assessments" %}';
        var export_4 = '{% url "registrations:export_entrepreneurship_assessments" %}';
        $(document).ready(function(){
            var params = '?governorate='+$('select#id_governorate').val();
            $('a.export-1').attr('href', export_1+params);
            $('a.export-2').attr('href', export_2+params);
            $('a.export-3').attr('href', export_3+params);
            $('a.export-4').attr('href', export_4+params);
        });
    </script>
{% endblock %}
