{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content-full-page %}
<section>
<title>User Profile</title>
</section>

<section>

    <ol class="breadcrumb">f
      <!--<li class="breadcrumb-item"><span class="badge badge-primary">{{ table.rows|length }}</span></li>-->
      <li >{{ user.partner }}</li>
      <li>{{ user }}</li>
      <li>{{ user.country }}</li>
      <!--<li> {% trans "Is the User Staff: " %} {{ request.user.is_staff}}</li>-->

    </ol>

  <div class="col-sm-3">
              {% if request.user.is_authenticated %}
              <h5 class="font-accident-two-normal uppercase"><a href="{% url 'account_change_password' %}">{% trans 'Change password?' %}</a></h5>
              <h5 class="font-accident-two-normal uppercase"><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></h5>
              {% endif %}
                <div class="dividewhite1"></div>
                <div class="divider-dynamic"></div>
  </div>
</section>
{% endblock %}
