{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content-full-page %}
<section>
<title>User Profile</title>
{% endblock %}
</section>

{% block content-full-page %}
<section>

    <ol class="breadcrumb">
      <!--<li class="breadcrumb-item"><span class="badge badge-primary">{{ table.rows|length }}</span></li>-->
      <li >{{ user.partner }}</li>
      <li>{{ user }}</li>
      <li>{{ user.country }}</li>
      <!--<li> {% trans "Is the User Staff: " %} {{ request.user.is_staff}}</li>-->


        <!--<li class="breadcrumb-item active">-->
            <!--<a href="{% url 'registrations:add' %}" class="btn btn-success">-->
                <!--<i class="icon-plus-sign icon-white"></i>-->
                <!--{% trans "Add new beneficiary" %}-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-primary">{% trans "Export data" %}</button>-->
            <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--<span class="caret"></span>-->
              <!--<span class="sr-only">Toggle Dropdown</span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="{% url 'registrations:export_registry_assessments' %}">{% trans "Export Registration" %}</a></li>-->
              <!--<li><a href="{% url 'registrations:export_civic_assessments' %}">{% trans "Export Civic Engagement assessments" %}</a></li>-->
              <!--<li><a href="{% url 'registrations:export_entrepreneurship_assessments' %}">{% trans "Export Entrepreneurship assessments" %}</a></li>-->
              <!--<li><a href="{% url 'registrations:export_initiative_assessments' %}">{% trans "Export Initiative registration & implementation" %}</a></li>-->
              <!--<li><a href="{% url 'registrations:export' %}">{% trans "Export Beneficiary list" %}</a></li>-->
             <!---->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->

    </ol>

  <div class="col-sm-3">
              {% if request.user.is_authenticated %}
              <h5 class="font-accident-two-normal uppercase"><a href="{% url 'account_change_password' %}">{% trans 'Change password?' %}</a></h5>
              <h5 class="font-accident-two-normal uppercase"><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></h5>
              {% endif %}
                <div class="dividewhite1"></div>
                <div class="divider-dynamic"></div>
  </div>

    <!--<div class="pb-5 pr-5 list-filter">-->
        <!--<form action="" method="get" class="form form-inline">-->
            <!--{% bootstrap_form filter.form layout='inline' %}-->
            <!--{% bootstrap_button _('filter') button_class="btn-primary" %}-->
            <!--{% bootstrap_button _('reset') button_type="link" button_class="btn-warning" href='/registrations/list/' %}-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="">-->
        <!--{% csrf_token %}-->
        <!--{% render_table table 'django_tables2/bootstrap.html' %}-->
    <!--</div>-->
</section>
{% endblock %}
