{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
   
{% endblock %}


<head>
<title>User Profile</title>
</head>


{% block content-full-page %}
<section id="page-title" class="inline-form inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h3 class="font-accident-two-light color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">{% trans "User Profile" %}</h3>

        </div>
    </section>
    <section>
      <!--<div class="pb-5 pr-5 list-filter">-->

      <!--<li > {% trans "Partner Name: " %} {{ user.partner }}</li>-->
      <!--<li>{% trans "Username: " %} {{ user }}</li>-->
      <!--<li>{% trans "Country: " %} {{ user.country }}</li>-->
      <!--&lt;!&ndash;<li> {% trans "Is the User Staff: " %} {{ request.user.is_staff}}</li>&ndash;&gt;-->

      <!--<ol class="font-accident-two-normal uppercase"><a href="{% url 'account_change_password' %}">{% trans 'Change password ' %}</a></ol>-->
      <!--<ol class="font-accident-two-normal uppercase"><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></ol>-->

      <!--</div>-->

      <div class="container">
      <div class="row">
    <div class="col-md-6 img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{ user }}</h5>
        <small><cite title="Source Title"> {{ user.partner }}, {{ user.country }} <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        {{ user.email }} <br>
        {{ user.first_name }}, {{ user.last_name }} <br>
        {{user.date_joined}}
      </p>
    </div>
  </div>
</div>

</section>
{% endblock %}
